#banner{
	background-image: url("../images/background.jpg");
	padding: 200px 0;
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

#banner h1{
	font-size: 65px;
	font-family: montserrat;
}

#banner p{
	font-size: 30px;
	font-family: open sans;
	padding-bottom: 30px;
}