#banner_faq{
	background-image: url("../images/buspostuler.jpg");
	padding: 170px 10px;
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-family: varela round;
	margin-top: 0px;
}

#banner_faq h1{
	font-size: 65px;
	font-family: varela round;
}


.card_faq{
	background-color: #F6F9FA;
	font-family: varela round;
	padding: 30px;
	margin:20px auto;
	border-radius: 8px;
	color: #384047;
	box-shadow: 1px 1px 3px rgba:(200, 200, 200, 1);}
}


.card_faq h3{
font-size: 18px;
line-height: 25px;
color: #384047;
}

.card_faq p{
font-size: 16px;
line-height: 25px;
color: #576366;
}

.typeform-widget{
	margin-bottom: 10px;
}


.faq h2{
	font-family: varela round;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
}

