.container_coffee{
	background-image: url("../images/coffee.jpg");
	padding: 100px 0;
	color: white;
	background-repeat: no-repeat;
	height: 600px;
	background-size: cover;
	text-align: center;}

.container_coffee h3{
	display: inline-block;
	font-size: 40px;
	padding: 0.2em;
	font-family: varela round;
	background: rgba(0, 0, 0, 0.4);
}