@import url("banner.css");
@import url("before_footer.css");
@import url("footer.css");
@import url("button.css");
@import url("banner_faq.css");


.navbar-transparent{
background-color: #ECF0F1;
}

.bg-blue {
text-align: center;
font-family: varela round;
font-size: 40px;
padding: 70px 150px;
}

.bg-blue p{
font-family: varela round;
font-size: 20px;
}

#newsletter{
background-color: white;
padding:70px;
text-align: center;
}




.benefices{
	background-color: #5fcf80;
	font-family: montserrat;
	padding: 70px;
}

.benefices h2{
	font-family: varela round;
	text-align: center;}

.card{
	text-align: center;
	background-color: white;
	padding: 30px;
	width: 700px;
	margin:20px auto;
	display: inline-block;
	border-radius: 5px;
	color: black;
	box-shadow: 1px 1px 3px rgba:(200, 200, 200, 1);}
	
.pedagogie img{
	width:150px;}

#certification{
	text-align: center;
}
#certification img{
	width: 200px;}

.pedagogie{
	padding:70px;
	text-align: center;}


.references_clients{
	background-color: #ECF0F1;
}
.references_clients img{
	width:200px;}
.references_clients li{
	padding:30px 30px;
}
.references_clients h2{
	padding:30px;}
.references_clients p{
	padding:30px;}

.logo{
	background-color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 250px;
	height: 180px;
	margin:30px 10px;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba:(200, 200, 200, 1);}



