@import url("banner.css");
@import url("before_footer.css");
@import url("footer.css");
@import url("button.css");
@import url("banner_faq.css");
@import url("banner_afnor.css");
@import url("overview.css");
@import url("hubsy.css");
@import url("references_clients.css");
@import url("navbar.css");
@import url("benefices.css");
@import url("intro.css");
@import url("theschoolbus.css");

.newsletter{
background-color: white;
padding:30px;
text-align: center;
font-family: varela round;}

.newsletter h2{
font-family: varela round;
font-size: 20px;}

#mc-embedded-subscribe input{
background-color: yellow;
}

	
.pedagogie img{
	width:150px;}

#certification{
	text-align: center;
}
#certification img{
	width: 300px;}

.pedagogie{
	padding:70px;
	text-align: center;}






