.intro {
font-family: varela round;
font-size: 40px;
padding: 50px 180px;
}

.intro p{
font-size: 20px;
}

.intro h2{
line-height: 50px;
font-size: 40px;
text-align: center;
text-align: justify;
}

.pres{
	font-family: varela round;
	text-align: center;
	padding: 50px;
}

.pres h4{
	font-size: 30px;
	color: #16B3D9;