.navbar-transparent{
background-color: #FFFFFF;
height: 70px;
padding-bottom: 10px;
padding-right: 25px;
}

.navbar-transparent img{
width: 50px;
padding-top: 0px;
}


.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  font-family: varela round;
  font-size: 18px;
  color: #384047;
  line-height: 50px;
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > button {
  color: #16B3D9;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: #384047;
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: #16B3D9;
}
