.pourquoinous{
	background-color: #F6F9FA;
	font-family: varela round;
	color: #576366;
}

.pourquoinous img{
	width: 550px;
	padding-right: 0px;
}

.first img{
		width: 24px;

}

.second img{
	width: 100%;
}