.references_clients{
	background-color: #ECF0F1;
	padding: 50px 30px;
}
.references_clients img{
	width:180px;}

.references_clients h2{
	font-family: varela round;
	padding:5px;}

.references_clients h3{
	padding:0px;
font-family: varela round;
}

.logo{
	padding-top: 30px;
	padding-bottom: 30px;
	}