.references_clients{
	margin-top: 0px;
	background-color:#F6F9FA;
	padding: 50px 30px;
}
.references_clients img{
	width:180px;}

.references_clients h2{
	font-family: varela round;
	padding:5px;}

.references_clients h3{
	padding:0px;
font-family: varela round;
}

.logo{
	padding-top: 30px;
	padding-bottom: 30px;
	}


.pasconvaincu{
	background-image: url("../images/pasconvaincu.jpg");
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-family: varela round;
	margin-top: 0px;
	margin-bottom: 0px;
	}

.pasconvaincu h2{
	color: white;
	text-align: center;
	font-family: varela round;
	font-size: 60px;
	padding: 250px;
	}

.pedagogie{
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-family: varela round;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 500px;
	}

.pedagogie h2{
	color: white;
	text-align: center;
	font-family: varela round;
	font-size: 55px;
	padding: 100px;
}
